<head>
    <meta charset="UTF-8">
    <title>로그인</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.css">
    <style>
        .container {
            max-width: 600px;
            margin-top: 20px;
            margin-bottom: 50px;
        }

        .blackColor {
            color: black;
        }

        .form-label {
            color: #ffffff;
        }

        .login-title {
            margin-bottom: 40px;
        }

        label {
            font-weight: bold;
            margin-top: 10px;
        }

        .button-group {
            display: flex;
            gap: 5px;
            justify-content: flex-end;
        }

        .idPwFindBtn:hover{
            cursor: pointer;
            font-weight: bold;
        }

        .idPwFindBtn {
            display: inline-flex;
            align-items: center;
        }

        img {
            display: block;
            margin-left: auto;
            margin-right: auto;
            margin-bottom: 50px;
            width: 80%;
        }
    </style>
</head>

<body>
    <div class="container">
        <img src="/image/MYPcSpec_logo_wide.png" alt="My Image" />

        <h1 class="text-center login-title">로그인</h1>
        <form method="post">
        
            <div class="mb-3">
                <label for="Id" class="form-label">아이디</label>
                <input type="text" class="form-control" id="id" name="Id" placeholder="아이디를 입력하세요" required>
            </div>

            <div class="mb-3">
                <label for="password" class="form-label">비밀번호</label>
                <input type="password" class="form-control" id="pw" name="password" placeholder="비밀번호를 입력하세요" required>
            </div>

            <div class="d-flex justify-content-between" style="margin-top: 35px;">
                <div>
                    <span class="idPwFindBtn" id="findIdPw" data-bs-toggle="modal" data-bs-target="#exampleModal">ID/PW 찾기</span>
                </div>
                <button type="submit" class="btn btn-primary w-25 mx-4 join-join-btn" id="loginBtn" style="margin-right: 0px !important;">로그인</button>
            </div>

        </form>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title blackColor" id="exampleModalLabel">ID/PW 찾기</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body d-flex flex-column justify-content-center" style="min-height: 250px !important;">
                    <form id="findIdForm">
                        <div class="mb-3 d-flex">
                            <div class="flex-grow-1">
                                <input type="email" class="form-control" id="findIdEmail" name="findIdEmail" placeholder="가입된 이메일을 입력하세요" required>
                            </div>
                            <button type="button" class="btn btn-dark align-self-end ms-2">인증코드 전송</button>
                        </div>
                        <div class="mb-3 d-flex" style="margin-top: 40px;">
                            <input type="text" class="form-control" id="code" name="code" placeholder="인증번호" required>
                        </div>
                    </form>
                </div>
                <div class="modal-footer d-flex justify-content-center">
                    <button type="button" class="btn btn-primary w-25 mx-4 join-join-btn" onclick="submitFindIdForm()">ID 찾기</button>
                    <button type="button" class="btn btn-primary w-25 mx-4 join-join-btn" onclick="submitFindPwForm()">PW 찾기</button>
                </div>
            </div>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        let sessionLoginId = '@Context.Session.GetString("Id")';

        $(document).ready(function () {
            console.log("SessionId : " + sessionLoginId);
            if (sessionLoginId != null && sessionLoginId != "") {
                sessionLogOut();
            }
        });

        function sessionLogOut() {
            $.ajax({
                url: '/Account/Logout',
                type: 'GET',
                data: { id: sessionId },
                success: function () {
                    window.location.href = '/Account/Login';
                },
                error: function () {
                    console.log('세션 초기화 실패');
                }
            });
        }

        $('#loginBtn').on('click', function (e) {
            e.preventDefault();

            let req = {
                Id: $('#id').val(),
                Pw: $('#pw').val()
            };

            $.ajax({
                url: '/Account/Login',
                type: 'POST',
                contentType: 'application/json',
                data: JSON.stringify(req),
                success: function (response) {
                    window.location.href = '/Home/Index';
                    window.history.pushState(null, '', '/Home/Index');
                    window.history.replaceState(null, '', '/Home/Index');
                    window.onpopstate = function () {
                        window.history.pushState(null, '', '/Home/Index');
                    };
                },
                error: function(error){
                    console.log(error);
                    Swal.fire({
                        icon: 'error',
                        title: '로그인 실패',
                        text: error.responseText
                    })
                }
            })
        })
    </script>
</body>